* {
    font-family: 'Poppins', 'Microsoft-Yahei', Arial, sans-serif;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem 1.5rem;
    max-width: 40rem;
}

svg {
    fill: var(--text-color);
    height: 1rem;
    width: 1rem;
}
dfn {
    font-style: normal;  
}

#profile-background {
    position: relative;
    background: url("../img/profile_background.webp") center;
    background-size: cover;
    background-attachment: fixed;

    border-radius: 20px;
    margin-bottom: 2rem;
}
#profile {
    background: rgba(0, 0, 0, 0.1);
    /*color: #1e1e1e;*/
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    padding: 0.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
}

#data {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name {
    font-size: 1.5rem;
    font-family: 'Caudex', 'EB Garamond';
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
}
#real-name {
    /* font-weight: 600; */
    margin-bottom: 0.2rem;
    font-family: 'LXGW Regular', 'Microsoft-Yahei';
}

#site-state {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0.5rem 0;
}
#site-state a {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
}
#categories-state {
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}
.state-number {
    font-size: 0.9rem;
}
.state-text {
    font-size: 0.75rem;
    color: var(--text-color);
}

#links {
    margin-top: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#links a {
    margin: 0 0.4rem;
}

#profile-description {
    text-align: center;
    margin-top: 1rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.header-tags {
    width: 8rem;
    margin-top: 1rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}