main section {
    max-width: 40rem;
}

.blog {
    text-align: center;
}
.blog-title {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'EB Garamond', 'Source Code Pro', monospace, Arial, sans-serif;
}
.blog-description {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: 'EB Garamond', 'LXGW Light', 'Microsoft-Yahei';
}

.articles {
    margin-top: 2.5rem;
}
article {
    margin: 2.5rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-tags {
    text-align: start;
}