article {
	max-width: 40rem;
}

.post-header {
	padding: 1rem 0;
	text-align: center;
}
.post-title {
	font-size: 2rem;
}
.post-subtitle {
	margin: 0.25rem;
}

.header-tags .header-tag {
	font-size: 0.8rem;
	color: var(--header-tag-color);
	padding: 0 0.5rem;
}
.header-tags time {
	font-family: 'Source Code Pro', monospace, Arial, sans-serif;
}
.header-tags .icon {
	font-size: 1rem;
	transform: translateY(0.225rem);
}
.header-tags a {
	color: var(--header-tag-color);
}
.header-tags a:hover {
	color: var(--text-color);
}

.toc {
	margin: 2.5rem 0;
}
.toc-title {
	margin: 0.5rem 0;
	font-size: 1.8rem;
}
.toc a {
	color: var(--text-color);
}
.toc a:hover {
	color: var(--link-color);
}

article h2 {
	margin: 2.5rem 0;
	font-size: 1.8rem;
}
.paragraph {
	margin: 2rem 0;
}
.paragraph h3 {
	font-size: 1.4rem;
}
.paragraph ul {
	margin: 0.5rem 1rem;
}
.paragraph p {
	margin: 0.5rem 0;
}
.star {
	color: var(--star-color);
}